/* Write your CSS code here */
.nav-header {
  padding-top: 35px;
  height: 20vh;
  background-color: white;
  width: 100%;
  padding-left: 30px;
  padding-right: 25px;
  margin-bottom: 40px;
}
.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  margin: 10px;
}
.logo-image {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-right: 11px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
}
li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}
.nav-link {
  font-family: 'Roboto';
  font-size: 20px;
  color: #12022f;
  font-weight: 600;
  text-decoration: none;
}
